<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<% FoodRank.new(user_id: @user.id).save %>
<%= link_to 'Next to pick categories (START SURVEY)', pick_category_url(@user.id) %>
